header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: lightgray;
}

section {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-right: 10px;
}

p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
